BasedOnStyle: Google
IndentWidth: 4

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
PointerAlignment: Right
