[Unit]
Description=prayer-notify
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/local/bin/prayer-notify

[Install]
WantedBy=default.target
